body { 
    background: #1C2936;

    #board {
        --sq-size: max(2vw, 32px);
        --sq-gap: 3px;
        --circle-size: calc(var(--sq-size) / 5 * 3);

        border: calc(var(--sq-size) / 5 * 3) solid #101c29;

        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        gap: var(--sq-gap);

        justify-content: center;
        align-items: center;

        & .sq {
            background: #0C141D;
            width: var(--sq-size);
            height: var(--sq-size);

            display: flex;
            justify-content: center;
            align-items: center;

            & .red {
                background: #F56565;
            }

            & .blue {
                background: #4299e1;
            }

            & .circle {
                width: var(--circle-size);
                height: var(--circle-size);

                border-radius: calc(var(--circle-size) / 3 * 2);
            }
        }
    }
}

body::-webkit-scrollbar {
    display: none;
}
