@import url('./board.css');

@media screen and (max-width: 1000px) {
    body {
        justify-content: flex-start !important;
    } 
}

body {
    padding: 0;
    margin: 0;

    overflow: scroll;

    min-width: 100vw;
    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    & #board {
        margin: 0 90px;
    }
}

#counter {
    display: flex;
    font-size: 4rem;

    padding: 20px 0;
    
    & p {
        margin: 0;
        color: white;
    }

    & * {
        margin: 0 50px;
        font-family: monospace;
    }
}

.border-red {
    border-bottom: 6px solid var(--color-red);
}

.border-blue {
    border-bottom: 6px solid var(--color-blue);
}
