<!doctype html>
<html lang="en">
  <head>
    <title>Gomoku</title>
    <meta charset="UTF-8" />
    <meta name="description" content="A simple board game" />
    <meta name="viewport" content="width=device-width" />

    <script async type="module" src="/scripts/theme.js"></script>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <h1>Gomoku</h1>
    <form action="/room">
      <input name="id" placeholder="Enter a room name..." class="ui-effect" />
      <button type="submit" class="ui-effect">Join</button>
    </form>
  </body>
</html>
