<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Play Gomoku Offline'>

    <title>Pass And Play</title>

    <link rel='stylesheet' href='/static/style/passnplay.css'>
    <script defer type='module' src='/static/scripts/passnplay.js'></script>
</head>

<body>
    <main id='board'></main>
    <div id='counter'>
        <div id='red-counter'>0</div>
        <p>:</p>
        <div id='blue-counter'>0</div>
    </div>
</body>

</html>
