:root {
    --color-red: #F56565;
    --color-blue: #4299e1;
}

.game {
    background: #1C2936;

    & > * {
        margin-left: 100px;
    }

    & .board {
        --sq-size: max(2vw, 35px);
        --sq-gap: 2px;
        --circle-size: calc(var(--sq-size) / 5 * 3);

        border: calc(var(--sq-size) / 5 * 3) solid #101c29;

        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        gap: var(--sq-gap);

        justify-content: center;
        align-items: center;

        & .sq {
            cursor: pointer;

            background: #0C141D;
            width: var(--sq-size);
            height: var(--sq-size);

            display: flex;
            justify-content: center;
            align-items: center;

            & .circle {
                width: var(--circle-size);
                height: var(--circle-size);

                border-radius: calc(var(--circle-size) / 3 * 2);
            }
        }
    }

    & .status {
        display: flex;
        flex-direction: column;

        & .counter {
            display: flex;
            font-size: 4rem;
            padding: 20px 0;

            & p {
                margin: 0;
                color: white;
            }

            & div {
                margin: 0 50px;
                font-family: monospace;
            }
        }
    }
}

/* Color utils */
.red {
    color: var(--color-red);
}

.blue {
    color: var(--color-blue);
}

.bg-red {
    background: var(--color-red);
}

.bg-blue {
    background: var(--color-blue);
}

.border-red {
    border-bottom: 6px solid var(--color-red);
}

.border-blue {
    border-bottom: 6px solid var(--color-blue);
}
