:root {
  --nav-height: 50px;
}

* {
  font-family: "Courier New", Courier, monospace;
  color: var(--theme-txt-low);
}

body {
  background-color: var(--theme-app-bg);

  padding: 0;
  margin: 0;
}

nav {
  width: 100vw;
  height: var(--nav-height);

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 13px;

    select {
      margin-left: 10px;
      padding: 5px;
      max-width: fit-content;

      /* Try to hide the scrollbar */
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

input,
select {
  outline: none;
}

.ui,
.ui-effect {
  border: var(--theme-ui-sep);
  background-color: var(--theme-ui-bg);
}

.ui-effect {
  &:hover {
    border: var(--theme-hovered-ui-sep);
    background-color: var(--theme-hovered-ui-bg);
  }

  &:active {
    background-color: var(--theme-active-ui-bg);
  }
}

.solid,
.solid-effect {
  background-color: var(--theme-solid-bg);
}

.solid-effect :hover {
  background-color: var(--theme-hovered-solid-bg);
}

#app {
  width: 100vw;
  height: calc(100vh - var(--nav-height));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-txt-high);
}
