* {
  font-family: "Courier New", Courier, monospace;
  color: var(--theme-txt-low);
}

body {
  padding: 0;
  margin: 0;
}

.ui,
.ui-effect {
  border: var(--theme-ui-sep);
  background-color: var(--theme-ui-bg);
}

.ui-effect {
  &:hover {
    border: var(--theme-hovered-ui-sep);
    background-color: var(--theme-hovered-ui-bg);
  }

  &:active {
    background-color: var(--theme-active-ui-bg);
  }
}

.solid,
.solid-effect {
  background-color: var(--theme-solid-bg);
}

.solid-effect :hover {
  background-color: var(--theme-hovered-solid-bg);
}

#nav {
  width: 100vw;
  height: 64px;
}

#app {
  background-color: var(--theme-app-bg);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-txt-high);
}
