<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='Play Gomoku Offline'>

    <title>Pass And Play</title>

    <link rel='stylesheet' href='/static/style/passnplay.css'>
    <script defer type='module' src='/static/scripts/passnplay.js'></script>
</head>

<body class='game'>
    <div class='board'></div>
    <div class='status'>
        <div class='counter'>
            <div class='red'>0</div>
            <p>:</p>
            <div class='blue'>0</div>
        </div>
    </div>
</body>

</html>
